<form class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <div class="title">Post your White Elephant Gift</div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="inputCategories">Choose Category:</label>
      <div class="col-md-4">
        <select id="inputCategories" name="inputCategories" class="form-control">
          <option value="1">Clothes</option>
          <option value="2">Food</option>
          <option value="3">Funny</option>
          <option value="4">Entertainment</option>
          <option value="5">Miscellaneous</option>
        </select>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="inputTitle">Gift Title:</label>
      <div class="col-md-4">
      <input id="inputTitle" name="inputTitle" type="text" placeholder="ex My Ugly Sweater" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="inputEmail">Your Email Address:</label>
      <div class="col-md-4">
      <input id="inputEmail" name="inputEmail" type="text" placeholder="your_email@email.com" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="inputFile">File:</label>
      <div class="col-md-4">
      <input id="inputFile" name="inputFile" type="text" placeholder="Picture Upload" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="inputAddress">Preferred Meeting Address:</label>
      <div class="col-md-4">
      <input id="inputAddress" name="inputAddress" type="text" placeholder="123 Anywhere St, Los Angeles,CA" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="inputDescription">Gift Description:</label>
      <div class="col-md-4">
      <input id="inputDescription" name="inputDescription" type="text" placeholder="My Ugly Sweater ROCKS1" class="form-control input-md">

      </div>
    </div>

    <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="inputSubmit"></label>
      <div class="col-md-8">
        <button id="inputSubmit" name="inputSubmit" class="btn btn-success">Submit</button>
        <button id="inputCancel" name="inputCancel" class="btn btn-danger">Cancel</button>
      </div>
    </div>

  </fieldset>
</form>
