@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

*,
html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.navbar-brand
{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  font-size: 23px;
  font-family: 'Pacifico', cursive;
  letter-spacing: 1.5px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-default a {
  background-color: silver !important;
  border-color: #030033;
  color:white !important;
  margin-bottom: 0px !important;
}

.navbar-default {
  margin-bottom: 0;
  border: 0;
  background-color: silver;
}

.navbar-right {
  margin-right: 5px;
}

.profile-pic {
  /*float: right;*/
  border-radius: 50%;
  height: 50px;
  margin: 5px;
}

.elephantlogo{

  height: 35px;
  margin-top: -10px;
}


.navbar-login
{
    width: 220px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}



#header {
  position: relative;
  display: block;
  width: 100%;
  height: 350px;
  background: url('../../assets/images/mainImage2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
  display: block;
}

body {
  background: url('../../assets/images/background.jpg');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  padding-bottom: 230px;
  display: inline-block;

}

.title {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  margin: auto;
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  color: #b30000;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.navigation {
  background-color: silver;
}





